{% extends 'base.html' %}

<!DOCTYPE html>

<html>
  <head>
    {% block head %}
    <title>Property Tax Hunter | Cook County</title>
    {% endblock %}
  </head>

  {% block body %}
  <body>

    <h1 class="breadcrumb-item active"> Where Do My Property Taxes Go? </h1>

    <div class="breadcrumb-item active">
        <p> {{ greeting }} </p>

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>

    </div>

      {% block content %}
      {% endblock %}

      {% block page_content %}
      {% endblock %}

  </body>
  {% endblock %}
</html>
